<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">
<body>
	<main layout:fragment="content">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="margin:20px">
							<div class="card-body">
								<div class="form-group">
								<label for="usr">Tiêu đề</label>
								<input type="text" class="form-control" id="usr" placeholder="Nhập tên tiêu đề">
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="margin:20px">
							<div class="card-body">
								<div class="row">
									<div class="col-md-10"></div>
									<div class="col-md-2">
										<button>Thêm trang</button>
									</div>
								</div>
								<div class="row">
								
									<div class="col-md-2">
										<div class="form-group">
											<label for="usr">1</label>
											<img alt="" src="https://mangaqq.net/10054/1.1/0.jpg?c=w132321" style="width: 100%">
										</div>
									</div>
									
									<div class="col-md-2">
										<div class="form-group">
											<label for="usr">2</label>
											<img alt="" src="https://mangaqq.net/10054/1.1/1.jpg?c=w132321" style="width: 100%">
										</div>
									</div>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>