<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout}">
<body>
	<main layout:fragment="content">
		<div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0">Danh sách truyện</h1>
	          </div><!-- /.col -->
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
	              <li class="breadcrumb-item active">Thống kê</li>
	            </ol>
	          </div><!-- /.col -->
	        </div><!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </div>
	    
	  	<div class="content">
		  	<div class="container-fluid mt-4">
		  	<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
					<span th:text="${errorMessage}"></span>
				</div>
				<div th:if="${successMessage}" class="alert alert-success" role="alert">
					<span th:text="${successMessage}"></span>
				</div>
	        <div class="d-flex justify-content-between">
	            <a href="">Quay lại</a>
	            <a th:href="@{/dashboard/mangas/showFormForCreate}" class="btn btn-primary">Thêm Truyện</a>
	        </div>
	
	        <form id="formSearch" th:action="@{/dashboard/mangas/search}" method="GET" data-container="#searchResult">
                        <div class="my-3">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập tên truyện..." name="searchValue">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>
	
	        <div id="searchResult"></div>
	    	
	    	</div>
	  	</div>
      <!-- Paginated script  -->
	<script th:inline="javascript">
	$(document).ready(function () {
	    $("#formSearch").submit(function (e) {
	        e.preventDefault();
	        paginationSearch(this, 1);
	        return;
	    });
	    paginationSearch("#formSearch", 1);
	});
	
	function paginationSearch(formSearch, page) {
	    var action = $(formSearch).prop("action");
	    var method = $(formSearch).prop("method");
	    var container = $(formSearch).data("container");
	    var searchData = $(formSearch).serializeArray();
	    searchData.push({ "name": "page", "value": page });
	    
	    $.ajax({
	        url: action,
	        type: method,
	        data: searchData,
	        async: true,
	        error: function () {
	            alert("Your request is not valid!");
	        },
	        success: function (data) {
	            $(container).html(data);
	        }
	    });
	}
	</script>
	</main>
</body>
</html>