<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Stocker - Stock Market Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        
        <!-- Swipper -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" th:href="@{/customer/lib/animate/animate.min.css}"/>
        <link th:href="@{/customer/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
        <link th:href="@{/customer/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link th:href="@{/customer/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link th:href="@{/customer/css/style.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
           <div th:insert="~{customer/fragments/header.html :: header-bar}"></div>

            <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img th:src="@{${manga.getBannerPhotoPath()}}" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </div>
        <!-- Navbar & Hero End -->

		<!-- Content -->
        <div class="container-fluid about py-5">
            <div class="container-fluid" style="padding: 10px;background-color: whitesmoke;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);">
                <div class="row">
                    <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <img th:src="@{${manga.getDisplayPhotoPath()}}" style="width: 224px;height: 336px;border-radius: 16px;box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);">
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 py-5">
                        	<input type="text" th:value="${manga.MangaID}" id="mangaInput" hidden>
                            <h3 th:text="${manga.Author}">Author</h3>
                            <h1 th:text="${manga.MangaName}">Tên truyện</h1>
                            <div class="tags" th:with="stringArray=${#strings.arraySplit(manga.Tags, ',')}">
                              <a href=""><span class="badge badge-primary m-1" th:each="part : ${stringArray}" th:text="${part}" >Hành động</span></a>
                            </div>
                        </div>

                        <div class="col-md-12">
                        	<div th:if="${not isFollowed}" id="btnfollow" class="btn btn-outline-primary btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">
                            	<div id="follow-btn">Theo dõi</div>
                            </div>
                            <div th:if="${isFollowed}" id="btnfollow" class="btn btn-outline-primary btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">
                            	<div id="follow-btn">Đang theo dõi</div>
                            </div>
                            <a th:if="${firstChapterID}" th:href="@{/home/chapter(chapterID=${firstChapterID})}" class="btn btn-outline-primary btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Đọc chương đầu tiên</a>
                        </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md">
                    
                    
                  </div>
                </div>
            </div>  

            <div class="container-fluid" style="background-color: whitesmoke;box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);">
              <div class="row">
                <div class="col-md-9">
                  <div class="author-content" style="background-color: rgb(220, 220, 220); margin: 10px; border-radius: 4px;">
                    <div class="container-fluid">
                      <div class="row" style="padding: 10px;">
                        <div class="col d-flex align-items-center">
                          <p class="mb-0 ms-2">Nhóm dịch: Tizun</p>

                        </div>
                        <div class="col d-flex justify-content-end align-items-end">
                          <a></a>
                        </div>
                      </div>
                    </div>
                    <div class="manga-description" style="display: flex; flex-direction: column; align-items: center;">
                      <p class="content" style="margin-left: 30px;margin-right: 30px" th:text="${manga.Description}"> 
						
                      </p>
                      <button class="toggle-button" onclick="toggleContent()" style="border: none;background: none; width: 100%; color: gray;">Xem thêm</button>
                    </div>    
                  </div>
                  <!-- List group -->
                  <div class="list-group" style="overflow-y: scroll; margin-left: 10px; margin-bottom: 100px;">
                    <div th:each="chapter : ${chapters}">
                  	<a th:href="@{chapter(chapterID=${chapter.ChapterID})}" class="list-group-item d-flex justify-content-between align-items-center text-decoration-none p-2 mb-1" style="margin: 1; width: 100%;">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-3 col-md-1">
                            <p style="font-weight: bold;" th:text="${chapter.ChapterNumber}">Chương 1</p>
                          </div>
                          <div class="col-6 col-md-8 align-items-center">
                            <p th:text="${chapter.ChapterName}">Khuyết điểm chỉ là vật trang trí cho ngai vàng</p>
                          </div>
                          <div class="col col-md d-flex justify-content-end align-items-center">
                            <p>1 ngày trước</p>
                          </div>
                        </div>
                      </div>
                    </a>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 mt-3">       
                    
                    <p class="row">ĐỀ XUẤT
                        <div class="row">
                        <img class="col-2 col-md-3" src="https://storage-ct.lrclib.net/file/cuutruyen/uploads/manga/2600/cover/processed-97e338e0dcf69632425d68abcaa6d53e.jpg"></img>
                        <div class="col col-md">
                            <p class="row" style="font-weight: bold;">Red Blue</p>
                            <p class="row">C.1 - 10 giờ trước</p>
                        </div>
                    </div>              
                </div>
              </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            
        </div>
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>2024</a> MangaLab</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script th:src="@{/customer/lib/wow/wow.min.js}"></script>
        <script th:src="@{/customer/lib/easing/easing.min.js}"></script>
        <script th:src="@{/customer/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/customer/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/customer/lib/lightbox/js/lightbox.min.js}"></script>
        <script th:src="@{/customer/lib/owlcarousel/owl.carousel.min.js}"></script>
        <script language="javascript" type="text/javascript" th:inline="javascript">
	        jQuery.noConflict();
	        jQuery(document).ready(function($) {		 
	        	$("#btnfollow").click(function () {
	                let followBtn = $("#follow-btn");
	                let isFollowing = followBtn.text().trim() === "Đang theo dõi";
	                let newStatus = isFollowing ? "Theo dõi" : "Đang theo dõi";
	                let followStatus = isFollowing ? "0" : "1"; // 0: hủy theo dõi, 1: theo dõi

	                let mangaID = document.getElementById("mangaInput").value;

	                $.ajax({
	                    url: '/home/follow',
	                    type: 'GET',    
	                    data: { mangaID: mangaID, follow_status: followStatus },
	                    success: function(response) {
	                        followBtn.text(newStatus); // Cập nhật giao diện sau khi thành công
	                        toastr.success(response.message, response.status);
	                    },
	                    error: function(error) {
	                        toastr.error('Cập nhật trạng thái theo dõi thất bại!', 'Thất bại');
	                    }
	                });
	            });
	        });
		</script>
        

        <!-- Template Javascript -->
        <script th:src="@{/customer/js/main.js}"></script>
    </body>

</html>