<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Stocker - Stock Market Website Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet"> 

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
        
        <!-- Swipper -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

        <!-- Libraries Stylesheet -->
        <link rel="stylesheet" th:href="@{/customer/lib/animate/animate.min.css}"/>
        <link th:href="@{/customer/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">
        <link th:href="@{/customer/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">


        <!-- Customized Bootstrap Stylesheet -->
        <link th:href="@{/customer/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link th:href="@{/customer/css/style.css}" rel="stylesheet">
    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->

        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
           <div th:insert="~{customer/fragments/header.html :: header-bar}"></div>
        </div>
        <!-- Navbar & Hero End -->

		<!-- Content -->
        <div class="container-fluid about py-5" style="height: 90vh;background-color: #d3d6db;">
        	<div class="row mt-5">
        		<div class="col-md-4"></div>
        		<div class="login-container text-center col-md-4">
			        <h3 class="mb-4">Đăng ký tài khoản</h3>
			        <p th:text="${msg}" style="color:red; font-weight: bold">
			        <form th:action="@{/auth/register-save}" method="post" th:object="${user}">
			            <div class="mb-3 text-start">
			                <label for="username" class="form-label">TÊN ĐĂNG NHẬP</label>
			                <input th:field="*{Username}" type="text" class="form-control" id="username" placeholder="Tên đăng nhập">
			            </div>
			            <div class="mb-3 text-start">
			                <label for="username" class="form-label">EMAIL</label>
			                <input th:field="*{Email}" type="text" class="form-control" id="email" placeholder="Email">
			            </div>
			            <div class="mb-3 text-start">
			                <label for="password" class="form-label">MẬT KHẨU</label>
			                <input th:field="*{Password}" type="password" class="form-control" id="password" placeholder="Mật khẩu">
			            </div>
			              	<!-- <div class="captcha-container">
					            <img src="/captcha" alt="CAPTCHA" id="captchaImage">
					            <div id="refreshCaptcha" class="btn btn-primary">Đổi mã</div>
					        </div>
					    <div class="mb-3 text-start">
			                <label for="password" class="form-label">NHẬP MÃ CAPTCHA</label>
			                <input type="password" name="captcha" class="form-control" id="password" placeholder="Mã Captcha" required>
			            </div>      -->
			            <button type="submit" class="btn btn-primary w-100">ĐĂNG KÝ</button>
			        </form>
		   		</div>
        	</div>
			
        </div>
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>2024</a> MangaLab</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script th:src="@{/customer/lib/wow/wow.min.js}"></script>
        <script th:src="@{/customer/lib/easing/easing.min.js}"></script>
        <script th:src="@{/customer/lib/waypoints/waypoints.min.js}"></script>
        <script th:src="@{/customer/lib/counterup/counterup.min.js}"></script>
        <script th:src="@{/customer/lib/lightbox/js/lightbox.min.js}"></script>
        <script th:src="@{/customer/lib/owlcarousel/owl.carousel.min.js}"></script>
        

        <!-- Template Javascript -->
        <script th:src="@{/customer/js/main.js}"></script>
        <script>
        // Refresh captcha image
        document.getElementById('refreshCaptcha').addEventListener('click', function () {
    fetch('/captcha')
        .then(response => response.blob()) // Nhận dữ liệu dưới dạng Blob (ảnh)
        .then(blob => {
            const captchaImage = document.getElementById('captchaImage');
            captchaImage.src = URL.createObjectURL(blob); // Tạo URL tạm thời từ Blob
        })
        .catch(error => console.error('Lỗi khi tải CAPTCHA:', error));
});
    	</script>
    </body>

</html>